<!DOCTYPE html>

<html>

  <head>
    <title>Boggle Game</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  
  <body>
    <div id="content">
      
      <!-- Page Title -->
      <div id="page-title-container">
        <h1 id="page-title">Boggle<h1>
      </div>
      
      <!-- Child content section -->
      {% block content %}{% endblock %}
    
    </div>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="static/boggle.js"></script>
  </body>

</html>